[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
uvloop = "*"
ujson = "*"
cchardet = "*"
aiodns = "*"
aioredis = "*"
python-dotenv = "*"
pyyaml = "*"
aiofiles = "*"

[dev-packages]

[requires]
python_version = "3.10"
